streamlit
google-genai
python-dotenv
pypdf
sqlalchemy
chromadb
pandas
plotly
networkx
fastapi
uvicorn
cognee
speechrecognition
gtts
pydub
streamlit-mic-recorder
streamlit-webrtc
opencv-python-headless==4.10.0.84
av
streamlit-ace
reportlab