streamlit
google-genai
python-dotenv
pypdf
sqlalchemy
chromadb
pandas
plotly
networkx
fastapi
uvicorn
cognee
speechrecognition
gtts
pydub
streamlit-mic-recorder
streamlit-webrtc
opencv-python
av
streamlit-ace